<%= render("layouts/errors", :object => @type) %>
<%= form_for(@type, :html => { :class => "form-horizontal col-md-4" }) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="hidden">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
