<h1><%= @brewery.name %></h1>

<table class="table table-condensed table-hover">
  <thead>
  	<tr>
  		<th>Name</th>
  		<th>Type</th>
  		<th>ABV</th>
  		<th>Average Rating</th>
  	</tr>
  </thead>
  <tbody>
  	<% @brewery.beers.each do |beer| %>
  		<tr>
  			<td><%= link_to beer.name, beer_path(beer) %></td>
  			<td><%= link_to beer.type, type_path(beer.type) %></td>
  			<td><%= beer.abv %></td>
  			<td><%= beer.total_rating %></td>
  		</tr>
  </tbody>
</table>
