<h1><%= @beer.name %></h1>
    <div id="beer-show">
      <dl class="dl-horizontal">
        <% if @beer.p_url != nil %>
        <img src="<%= @beer.p_url %>" class="img-responsive img-rounded" id="beer_img">
        <% end %>
        <dt>Price: </dt><dd>$<%= @beer.price %></dd>

        <dt>ABV: </dt><dd><%= @beer.abv %>%</dd>

        <dt>Description: </dt><dd><%= @beer.description %></dd>

        <% if @beer.type != nil %>
          <dt>Type: </dt><dd><%= @beer.type.name %></dd>
        <% end %>
        <% if @beer.region != nil %>
          <dt>Region: </dt><dd><%= @beer.region.name %></dd>
        <% end %>
        <dt>Average rating:</dt>
        
        <% if @beer.total_rating.nil? %>
          <dd><p>No rating yet.</dd>
          <% else %>
          <dd>
          <% stars = "<span class='glyphicon glyphicon-star'></span>".html_safe %>
          <% @beer.total_rating.to_i.times do %>
            <%= stars %>
          <% end %>
          <% empty = "<span class='glyphicon glyphicon-star-empty'></span>".html_safe %>
          <% empty_stars = 5 - @beer.total_rating.to_i %>
          <% empty_stars.times do %>
            <%= empty %>
          
          <% end %>
        <% end %></dd>
        </dl>
    </div>