<%= content_for(:title, "Edit Beer | Beer Fridge") %>

<h1>Edit Beer</h1>

<%= render("layouts/errors", :object => @beer) %>
<div class="col-md-3" id="new-beer">
<%= form_for(@beer, :url => beer_path(@beer.slug)) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="form-group">
    <%= f.label :abv, "ABV" %>
    <%= f.text_field :abv %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="hidden">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
</div>
