<% content_for(:title, "Beers | Beer Fridge") %>


    <h1> All Beers</h1>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>ABV</th>
          <th>Average Rating</th>
        </tr>
      </thead>
      <tbody>
        <% @beers.sort_by{|b| b.name}.each do |beer| %>
          <tr>
            <td><%= link_to beer.name, beer_path(beer.slug) %></td>
            <td><%= link_to beer.type.name, type_path(beer.type.slug) %></td>
            <td><%= beer.abv %></td>
            <td><%= beer.total_rating %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <hr>
    <%= link_to "Add Beer", new_beer_path, :class=> "btn btn-default" %>
 