
<% content_for(:title, @beer.name) %>

<div class="row">
  <div class="col-md-4">
    <h1><%= @beer.name %></h1>
    <div id="beer-show">
      <p>Price: $<%= @beer.price %></p>

      <p>ABV: <%= @beer.abv %>%</p>

      <p>Description: <%= @beer.description %></p>

      <% if @beer.type != nil %>
        <p>Type: <%= @beer.type.name %></p>
      <% end %>
      <% if @beer.region != nil %>
        <p>Region: <%= @beer.region.name %></p>
      <% end %>

      <p>Average rating:</p>
        <ul>
        <% if @beer.total_rating.nil? %>
          <li><p>No rating yet.</p>
          <% else %>
          <% stars = "<span class='glyphicon glyphicon-star'></span>".html_safe %>
          <% @beer.total_rating.to_i.times do %>
            <%= stars %>
          <% end %>
          <% empty = "<span class='glyphicon glyphicon-star-empty'></span>".html_safe %>
          <% empty_stars = 5 - @beer.total_rating.to_i %>
          <% empty_stars.times do %>
            <%= empty %>
          <% end %>
        <% end %></li>
</ul>
    </div>
    <hr>
    <h4>Add your own review.</h4>
    <form action="/beers/<%= @beer.slug %>" method="post">
      <div class="form-group">
        <%= render('rating') %>

      </div>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-default" id="review_btn">Add Review</button>
        </div>
      </div>
    </form>
  </div>
    <div class="col-md-4" id="reviews">
      <p>Reviews:</p>
        <ul>
          <% @beer.ratings.each do |rating| %>
          <li><%= rating.review %> |
          <% stars = "<span class='glyphicon glyphicon-star'></span>".html_safe %>
            <% rating.score.times do %>
              <%= stars %>
            <% end %>
            </li>
          <%end%>
        </ul>
    </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= link_to "Edit Beer", edit_beer_path(@beer.slug), :class=> "btn btn-primary" %>
    <%= link_to "Delete", beer_path(@beer.slug),
                             :confirm => "You sure?",
                             :method => "delete",
                             :class => "btn btn-danger" %>
  </div>
</div>


