
<%= content_for(:title, "#{@beer.name} | #{@beer.brewery.name} | Beer Fridge") %>

<div class="row">
  <div class="col-md-6" id="show_beer">
    <%= render 'beers/show_beer' %>
    <hr>
    <h4>Add your own review.</h4>
    <form action="/beers/<%= @beer.slug %>" method="post">
      <div class="form-group">
        <%= render 'rating' %>

      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-default" id="review_btn">Add Review</button>
        </div>
      </div>
    </form>
  </div>
    <div class="col-md-6" id="reviews">
      <h4>Reviews:</h4>
        <ul>
          <% @beer.ratings.each do |rating| %>
          <li><%= rating.review %> |
          <% stars = "<span class='glyphicon glyphicon-star'></span>".html_safe %>
            <% rating.score.times do %>
              <%= stars %>
            <% end %>
            </li>
          <%end%>
        </ul>
    </div>
</div>

<div class="row">
  <hr>
  <div class="col-md-4" id="edit_delete">
    <%= link_to "Edit Beer", edit_beer_path(@beer.slug), :class=> "btn btn-primary" %>
    <%= link_to "Delete", beer_path(@beer.slug),
                             :confirm => "You sure?",
                             :method => "delete",
                             :class => "btn btn-danger" %>
  </div>
</div>


