<%= content_for(:title, "Edit Region | Beer Fridge") %>

<h1>Edit Region</h1>

<div class="row">
  <div class="col-md-12">

<%= render("layouts/errors", :object => @region) %>
<div class="col-md-3" id="new-beer">
<%= form_for(@region, :url => region_path(@region.slug)) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="hidden">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
</div>

</div>
</div>