<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "navbar navbar-default navbar-fixed-top">
  <div class"container">
    <a href="/" class="navbar-text pull-left">Home</a>
    <a href="/beers" class="navbar-text pull-left">Beers</a>
    <a href="/types" class="navbar-text pull-left">Types</a>
    <a href="/regions" class="navbar-text pull-left">Regions</a>
  </div>
</div>

<div class="container" id="main">
<%= yield %>


</div>
</body>
</html>
